<template>
  <div class="home">
    <div class="container" v-if="charts.length">
      <div 
        class="chart" 
        v-for="chart in charts" 
        :key="chart.title"
      >
        <select v-model="chart.chart">
          <option 
              v-for="type in chartsType" 
              :value="type" 
              :key="type"
          >{{type}}</option>
        </select>

        <LinearChart 
          :title="chart.title" 
          :chart="chart.labels" 
          v-if="chart.chart == 'Line Chart'" 
        />

        <BarChart
          v-else
          :show-x-axis="true"
          :points="chart.labels"
          :width="chartWidth"
          :height="chartHeight"
          :show-values="true"
          :use-custom-labels="true"
          :animation-duration="2"
          :title="chart.title"
        />
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from '@/components/BarChart';
import LinearChart from "@/components/LinearChart"

export default {
  name: 'Home',
  components: {
    BarChart, 
    LinearChart
  },
  data() {
    return {
      chartWidth: 450,
      chartHeight: 320,
      chartsType: ['Line Chart', 'Bar Chart']
    };
  },
  computed: {
    charts(){
      return this.$store.state.chart.charts
    }
  },
}
</script>


<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: space-around;
  .chart {
    width: 46%;
    margin: 2%;
  }
}
</style>