<template>
  <div id="app">
    <h1>Vue Chart</h1>
    <AddChart />
    <Home />
  </div>
</template>

<script>
import AddChart from "./components/AddChart";
import Home from './views/Home';

export default {
  components: {AddChart, Home}
}
</script>


<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1 {
  text-align: center;
}
</style>
